<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar o TOP10</title>
</head>

    <form action="/top10_editado" METHOD="post">
        <h1>Editar TOP10</h1>
        <label>ID do carro</label>
        <input type="text" name="oid">

        <label>Top10? :</label>
        <select name="atop10">
            <option>Colocar</option>
            <option>Tirar</option>
        </select>
        <input type="submit" name="att_top10" value="Atualizar">
    </form>
</body>
</html>